{% load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chocolate House</title>
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}" />
  </head>
  <body>
    <header>
      <h1>Chocolate House</h1>
      <p>Explore our delightful flavors!</p>
    </header>

    <!-- Display Flavors -->
    <section id="flavors">
      <h2>All Flavors</h2>
      <div id="flavors-container"></div>
    </section>

    <!-- Seasonal Flavors-->
    <section id="seasonal-flavors">
      <h2>Seasonal Flavors</h2>
      <div id="seasonal-flavors-container"></div>
    </section>

    <!-- Customer Flavor Suggestions -->
    <section id="customer-suggestion">
      <h2>Customer Flavor Suggestions</h2>
      <form id="suggestions-form">
        {% csrf_token %}
        <label for="customer_name">Customer Name:</label>
        <input type="text" id="customer_name" name="customer_name" required />

        <label for="customer_email">Customer Email:</label>
        <input type="text" id="customer_email" name="customer_email" required />

        <label for="flavor_suggestion">Flavor Suggestion:</label>
        <input
          type="text"
          id="flavor_suggestion"
          name="flavor_suggestion"
          required
        />

        <label for="allergy_concern">Alergy Concern:</label>
        <input
          type="text"
          id="allergy_concern"
          name="allergy_concern"
          required
        />

        <button type="submit">Submit Suggestion</button>
      </form>
    </section>

    <!-- Display Customer Suggestions -->
    <a href="{% url 'suggestions' %}">View Customer Suggestions</a>

    <!-- Inventory Details -->
    <a href="{% url 'inventory' %}"> Inventory</a>

    <script src="{% static 'JS/index.js' %}"></script>
  </body>
</html>
